<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
  </head>
  <body>

    <main class="w-full min-h-screen bg-darkbg flex gap-3 ">
      @include('../admin/partials/sidebar')
      <section class="w-full self-stretch dark:bg-darkbg bg-whitebg rounded-lg flex overflow-hidden ">
        <div class="w-full h-full ">
          @include('../admin/partials/navbar')
          @!section('body')
          <footer class="footer">
          </footer>
        </div>
        <div class="w-full h-full min-w-[200px] max-w-[280px] border-l-2">
        </div>
      </section>

    </main>


  </body>
</html>
