<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    @entryPointStyles('app')
    @entryPointScripts('app')
  </head>
  <body>

    <main class="w-full min-h-screen bg-darkbg p-2 flex ">
      @include('../admin/partials/sidebar')
      <section class="w-full self-stretch dark:bg-darkbg bg-whitebg rounded-lg flex overflow-hidden ">
        <div class="w-full h-full ">
          @include('../admin/partials/navbar')
          @!section('body')
          <footer class="footer">
          </footer>
        </div>
        <div class="expand h-full min-w-[200px] max-w-[280px] border-l-2 relative sidebar-right">
          <span class="btn-expand cursor-pointer rounded-lg bg-darkbg w-8 h-8 absolute top-2 -left-4 border-2 btn-sidebarright grid place-items-center">
            @component('../../admin/components/icons/arrow-right',{
              classes: 'text-white arrow-svg no-rotate-arrow',
              color: '#fff',
              w: 15,
              h: 15
            })
            @end
          </span>
        </div>
      </section>

    </main>


  </body>
</html>


<script>
  const btnSidebarRight = document.querySelector('.btn-sidebarright')

  btnSidebarRight.addEventListener('click', () => {
    const sideBarRight = document.querySelector('.sidebar-right')
    const arrowSvg = document.querySelector('.arrow-svg')
    sideBarRight.classList.toggle('contract')
    btnSidebarRight.classList.toggle('btn-contract')
    arrowSvg.classList.toggle('rotate-arrow')
  })
</script>
