<label class="w-full mb-2 text-whitetext dark:text-darktext font-semibold text-sm">{{label}}</label>
<input placeholder="{{placeholder}}" type="{{type ?? 'text'}}" name="{{name}}" value="{{value ?? ''}}" class="{{ classes && classes }} rounded-md bg-whitecard dark:bg-darkcard p-3 text-sm text-whitetext dark:text-darktext" />
