<label class="w-full mb-2 text-whitetext dark:text-darktext font-semibold text-sm">{{label}}</label>
<textarea placeholder="{{placeholder ?? ''}}" rows="{{rows ?? '4'}}"  name="{{name}}"  class="{{ classes && classes }} rounded-md bg-whitecard dark:bg-darkcard p-3 text-sm text-whitetext dark:text-darktext border-[1px] border-slate-200" >{{value ?? ''}}</textarea>
